<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <link rel="shortcut icon" href="/static/1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Group Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            background-color: #eceff1;
        }
        a {
            color: black;
        }
        #message-box {
            overflow-y: scroll;
            word-wrap: break-word;
            height: 75vh;
            padding: 2em 3em;
        }
        #chat-room {
            height: 90vh;
        }
        #link-box-all {
            height: 90vh;
            overflow-y: scroll;
            word-wrap: break-word;
        }
        h5 {
            text-align: center;
        }
        .tag {
            padding: 6px 10px;
            border-radius: 9px;
            max-width: 15em;
        }
        .connect-info {
            margin:0 auto ;
            padding: 4px 10px;
            border-radius: 9px;
            width: 15em;
        }
        .container {
            margin-left:5%;
        }
    </style>
</head>

<body class="blue-grey lighten-5">
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper teal">
        <ul>
            <li><a class="brand-logo center">Computer-assisted scientific inquiry experience</a></li>
            <li><a id="toHomeBtn" href="#">home page</a></li>
        </ul>
    </div>
</nav>
    <div id="all-box" class="row">
        <div id="link-box-all" class="col s9">
            <h4>
                Please look for group members in the chat room on the right side of this page. Press "Join group" together in the same group, and then press "Lock group". Finally, click "Go to group page" to start the discussion.
            </h4>
            <div id="link-box1" class="s12">
                <div class="row">
                    <table>
                        <tbody>
                            <tr>
                                <td id="0_group_1_gn" width="7%">group 1</td>
                                <td id="0_group_1_1" width="12%">{{all_simu_group_info[1][0]}}</td>
                                <td id="0_group_1_2" width="12%">{{all_simu_group_info[1][1]}}</td>
                                <td id="0_group_1_3" width="12%">{{all_simu_group_info[1][2]}}</td>
                                <td id="0_group_1_btn" width="7%"><button id="btn_0_1" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_1_Lockbtn" width="7%"><button id="lock_btn_0_1" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_1" colspan="5"><a id="toGroupPageLink_1" href="#"><button id="btn_toGroup_1" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_2_gn" width="7%">group 2</td>
                                <td id="0_group_2_1" width="12%">{{all_simu_group_info[2][0]}}</td>
                                <td id="0_group_2_2" width="12%">{{all_simu_group_info[2][1]}}</td>
                                <td id="0_group_2_3" width="12%">{{all_simu_group_info[2][2]}}</td>
                                <td id="0_group_2_btn" width="7%"><button id="btn_0_2" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_2_Lockbtn" width="7%"><button id="lock_btn_0_2" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_2" colspan="5"><a id="toGroupPageLink_2" href="#"><button id="btn_toGroup_2" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_3_gn" width="7%">group 3</td>
                                <td id="0_group_3_1" width="12%">{{all_simu_group_info[3][0]}}</td>
                                <td id="0_group_3_2" width="12%">{{all_simu_group_info[3][1]}}</td>
                                <td id="0_group_3_3" width="12%">{{all_simu_group_info[3][2]}}</td>
                                <td id="0_group_3_btn" width="7%"><button id="btn_0_3" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_3_Lockbtn" width="7%"><button id="lock_btn_0_3" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_3" colspan="5"><a id="toGroupPageLink_3" href="#"><button id="btn_toGroup_3" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_4_gn" width="7%">group 4</td>
                                <td id="0_group_4_1" width="12%">{{all_simu_group_info[4][0]}}</td>
                                <td id="0_group_4_2" width="12%">{{all_simu_group_info[4][1]}}</td>
                                <td id="0_group_4_3" width="12%">{{all_simu_group_info[4][2]}}</td>
                                <td id="0_group_4_btn" width="7%"><button id="btn_0_4" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_4_Lockbtn" width="7%"><button id="lock_btn_0_4" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_4" colspan="5"><a id="toGroupPageLink_4" href="#"><button id="btn_toGroup_4" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_5_gn" width="7%">group 5</td>
                                <td id="0_group_5_1" width="12%">{{all_simu_group_info[5][0]}}</td>
                                <td id="0_group_5_2" width="12%">{{all_simu_group_info[5][1]}}</td>
                                <td id="0_group_5_3" width="12%">{{all_simu_group_info[5][2]}}</td>
                                <td id="0_group_5_btn" width="7%"><button id="btn_0_5" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_5_Lockbtn" width="7%"><button id="lock_btn_0_5" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_5" colspan="5"><a id="toGroupPageLink_5" href="#"><button id="btn_toGroup_5" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_6_gn" width="7%">group 6</td>
                                <td id="0_group_6_1" width="12%">{{all_simu_group_info[6][0]}}</td>
                                <td id="0_group_6_2" width="12%">{{all_simu_group_info[6][1]}}</td>
                                <td id="0_group_6_3" width="12%">{{all_simu_group_info[6][2]}}</td>
                                <td id="0_group_6_btn" width="7%"><button id="btn_0_6" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_6_Lockbtn" width="7%"><button id="lock_btn_0_6" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_6" colspan="5"><a id="toGroupPageLink_6" href="#"><button id="btn_toGroup_6" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_7_gn" width="7%">group 7</td>
                                <td id="0_group_7_1" width="12%">{{all_simu_group_info[7][0]}}</td>
                                <td id="0_group_7_2" width="12%">{{all_simu_group_info[7][1]}}</td>
                                <td id="0_group_7_3" width="12%">{{all_simu_group_info[7][2]}}</td>
                                <td id="0_group_7_btn" width="7%"><button id="btn_0_7" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_7_Lockbtn" width="7%"><button id="lock_btn_0_7" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_7" colspan="5"><a id="toGroupPageLink_7" href="#"><button id="btn_toGroup_7" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_8_gn" width="7%">group 8</td>
                                <td id="0_group_8_1" width="12%">{{all_simu_group_info[8][0]}}</td>
                                <td id="0_group_8_2" width="12%">{{all_simu_group_info[8][1]}}</td>
                                <td id="0_group_8_3" width="12%">{{all_simu_group_info[8][2]}}</td>
                                <td id="0_group_8_btn" width="7%"><button id="btn_0_8" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_8_Lockbtn" width="7%"><button id="lock_btn_0_8" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_8" colspan="5"><a id="toGroupPageLink_8" href="#"><button id="btn_toGroup_8" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_9_gn" width="7%">group 9</td>
                                <td id="0_group_9_1" width="12%">{{all_simu_group_info[9][0]}}</td>
                                <td id="0_group_9_2" width="12%">{{all_simu_group_info[9][1]}}</td>
                                <td id="0_group_9_3" width="12%">{{all_simu_group_info[9][2]}}</td>
                                <td id="0_group_9_btn" width="7%"><button id="btn_0_9" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_9_Lockbtn" width="7%"><button id="lock_btn_0_9" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_9" colspan="5"><a id="toGroupPageLink_9" href="#"><button id="btn_toGroup_9" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_10_gn" width="7%">group 10</td>
                                <td id="0_group_10_1" width="12%">{{all_simu_group_info[10][0]}}</td>
                                <td id="0_group_10_2" width="12%">{{all_simu_group_info[10][1]}}</td>
                                <td id="0_group_10_3" width="12%">{{all_simu_group_info[10][2]}}</td>
                                <td id="0_group_10_btn" width="7%"><button id="btn_0_10" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_10_Lockbtn" width="7%"><button id="lock_btn_0_10" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_10" colspan="5"><a id="toGroupPageLink_10" href="#"><button id="btn_toGroup_10" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_11_gn" width="7%">group 11</td>
                                <td id="0_group_11_1" width="12%">{{all_simu_group_info[11][0]}}</td>
                                <td id="0_group_11_2" width="12%">{{all_simu_group_info[11][1]}}</td>
                                <td id="0_group_11_3" width="12%">{{all_simu_group_info[11][2]}}</td>
                                <td id="0_group_11_btn" width="7%"><button id="btn_0_11" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_11_Lockbtn" width="7%"><button id="lock_btn_0_11" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_11" colspan="5"><a id="toGroupPageLink_11" href="#"><button id="btn_toGroup_11" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_12_gn" width="7%">group 12</td>
                                <td id="0_group_12_1" width="12%">{{all_simu_group_info[12][0]}}</td>
                                <td id="0_group_12_2" width="12%">{{all_simu_group_info[12][1]}}</td>
                                <td id="0_group_12_3" width="12%">{{all_simu_group_info[12][2]}}</td>
                                <td id="0_group_12_btn" width="7%"><button id="btn_0_12" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_12_Lockbtn" width="7%"><button id="lock_btn_0_12" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_12" colspan="5"><a id="toGroupPageLink_12" href="#"><button id="btn_toGroup_12" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_13_gn" width="7%">group 13</td>
                                <td id="0_group_13_1" width="12%">{{all_simu_group_info[13][0]}}</td>
                                <td id="0_group_13_2" width="12%">{{all_simu_group_info[13][1]}}</td>
                                <td id="0_group_13_3" width="12%">{{all_simu_group_info[13][2]}}</td>
                                <td id="0_group_13_btn" width="7%"><button id="btn_0_13" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_13_Lockbtn" width="7%"><button id="lock_btn_0_13" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_13" colspan="5"><a id="toGroupPageLink_13" href="#"><button id="btn_toGroup_13" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_14_gn"width="7%">group 14</td>
                                <td id="0_group_14_1" width="12%">{{all_simu_group_info[14][0]}}</td>
                                <td id="0_group_14_2" width="12%">{{all_simu_group_info[14][1]}}</td>
                                <td id="0_group_14_3" width="12%">{{all_simu_group_info[14][2]}}</td>
                                <td id="0_group_14_btn" width="7%"><button id="btn_0_14" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_14_Lockbtn" width="7%"><button id="lock_btn_0_14" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_14" colspan="5"><a id="toGroupPageLink_14" href="#"><button id="btn_toGroup_14" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_15_gn" width="7%">group 15</td>
                                <td id="0_group_15_1" width="12%">{{all_simu_group_info[15][0]}}</td>
                                <td id="0_group_15_2" width="12%">{{all_simu_group_info[15][1]}}</td>
                                <td id="0_group_15_3" width="12%">{{all_simu_group_info[15][2]}}</td>
                                <td id="0_group_15_btn" width="7%"><button id="btn_0_15" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_15_Lockbtn" width="7%"><button id="lock_btn_0_15" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_15" colspan="5"><a id="toGroupPageLink_15" href="#"><button id="btn_toGroup_15" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_16_gn" width="7%">group 16</td>
                                <td id="0_group_16_1" width="12%">{{all_simu_group_info[16][0]}}</td>
                                <td id="0_group_16_2" width="12%">{{all_simu_group_info[16][1]}}</td>
                                <td id="0_group_16_3" width="12%">{{all_simu_group_info[16][2]}}</td>
                                <td id="0_group_16_btn" width="7%"><button id="btn_0_16" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_16_Lockbtn" width="7%"><button id="lock_btn_0_16" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_16" colspan="5"><a id="toGroupPageLink_16" href="#"><button id="btn_toGroup_16" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_17_gn" width="7%">group 17</td>
                                <td id="0_group_17_1" width="12%">{{all_simu_group_info[17][0]}}</td>
                                <td id="0_group_17_2" width="12%">{{all_simu_group_info[17][1]}}</td>
                                <td id="0_group_17_3" width="12%">{{all_simu_group_info[17][2]}}</td>
                                <td id="0_group_17_btn" width="7%"><button id="btn_0_17" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_17_Lockbtn" width="7%"><button id="lock_btn_0_17" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_17" colspan="5"><a id="toGroupPageLink_17" href="#"><button id="btn_toGroup_17" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_18_gn" width="7%">group 18</td>
                                <td id="0_group_18_1" width="12%">{{all_simu_group_info[18][0]}}</td>
                                <td id="0_group_18_2" width="12%">{{all_simu_group_info[18][1]}}</td>
                                <td id="0_group_18_3" width="12%">{{all_simu_group_info[18][2]}}</td>
                                <td id="0_group_18_btn" width="7%"><button id="btn_0_18" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_18_Lockbtn" width="7%"><button id="lock_btn_0_18" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_18" colspan="5"><a id="toGroupPageLink_18" href="#"><button id="btn_toGroup_18" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_19_gn" width="7%">group 19</td>
                                <td id="0_group_19_1" width="12%">{{all_simu_group_info[19][0]}}</td>
                                <td id="0_group_19_2" width="12%">{{all_simu_group_info[19][1]}}</td>
                                <td id="0_group_19_3" width="12%">{{all_simu_group_info[19][2]}}</td>
                                <td id="0_group_19_btn" width="7%"><button id="btn_0_19" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_19_Lockbtn" width="7%"><button id="lock_btn_0_19" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_19" colspan="5"><a id="toGroupPageLink_19" href="#"><button id="btn_toGroup_19" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_20_gn" width="7%">group 20</td>
                                <td id="0_group_20_1" width="12%">{{all_simu_group_info[20][0]}}</td>
                                <td id="0_group_20_2" width="12%">{{all_simu_group_info[20][1]}}</td>
                                <td id="0_group_20_3" width="12%">{{all_simu_group_info[20][2]}}</td>
                                <td id="0_group_20_btn" width="7%"><button id="btn_0_20" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_20_Lockbtn" width="7%"><button id="lock_btn_0_20" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_20" colspan="5"><a id="toGroupPageLink_20" href="#"><button id="btn_toGroup_20" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_21_gn" width="7%">group 21</td>
                                <td id="0_group_21_1" width="12%">{{all_simu_group_info[21][0]}}</td>
                                <td id="0_group_21_2" width="12%">{{all_simu_group_info[21][1]}}</td>
                                <td id="0_group_21_3" width="12%">{{all_simu_group_info[21][2]}}</td>
                                <td id="0_group_21_btn" width="7%"><button id="btn_0_21" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_21_Lockbtn" width="7%"><button id="lock_btn_0_21" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_21" colspan="5"><a id="toGroupPageLink_21" href="#"><button id="btn_toGroup_21" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_22_gn" width="7%">group 22</td>
                                <td id="0_group_22_1" width="12%">{{all_simu_group_info[22][0]}}</td>
                                <td id="0_group_22_2" width="12%">{{all_simu_group_info[22][1]}}</td>
                                <td id="0_group_22_3" width="12%">{{all_simu_group_info[22][2]}}</td>
                                <td id="0_group_22_btn" width="7%"><button id="btn_0_22" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_22_Lockbtn" width="7%"><button id="lock_btn_0_22" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_22" colspan="5"><a id="toGroupPageLink_22" href="#"><button id="btn_toGroup_22" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_23_gn" width="7%">group 23</td>
                                <td id="0_group_23_1" width="12%">{{all_simu_group_info[23][0]}}</td>
                                <td id="0_group_23_2" width="12%">{{all_simu_group_info[23][1]}}</td>
                                <td id="0_group_23_3" width="12%">{{all_simu_group_info[23][2]}}</td>
                                <td id="0_group_23_btn" width="7%"><button id="btn_0_23" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_23_Lockbtn" width="7%"><button id="lock_btn_0_23" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_23" colspan="5"><a id="toGroupPageLink_23" href="#"><button id="btn_toGroup_23" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_24_gn" width="7%">group 24</td>
                                <td id="0_group_24_1" width="12%">{{all_simu_group_info[24][0]}}</td>
                                <td id="0_group_24_2" width="12%">{{all_simu_group_info[24][1]}}</td>
                                <td id="0_group_24_3" width="12%">{{all_simu_group_info[24][2]}}</td>
                                <td id="0_group_24_btn" width="7%"><button id="btn_0_24" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_24_Lockbtn" width="7%"><button id="lock_btn_0_24" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_24" colspan="5"><a id="toGroupPageLink_24" href="#"><button id="btn_toGroup_24" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_25_gn" width="7%">group 25</td>
                                <td id="0_group_25_1" width="12%">{{all_simu_group_info[25][0]}}</td>
                                <td id="0_group_25_2" width="12%">{{all_simu_group_info[25][1]}}</td>
                                <td id="0_group_25_3" width="12%">{{all_simu_group_info[25][2]}}</td>
                                <td id="0_group_25_btn" width="7%"><button id="btn_0_25" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_25_Lockbtn" width="7%"><button id="lock_btn_0_25" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_25" colspan="5"><a id="toGroupPageLink_25" href="#"><button id="btn_toGroup_25" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_26_gn" width="7%">group 26</td>
                                <td id="0_group_26_1" width="12%">{{all_simu_group_info[26][0]}}</td>
                                <td id="0_group_26_2" width="12%">{{all_simu_group_info[26][1]}}</td>
                                <td id="0_group_26_3" width="12%">{{all_simu_group_info[26][2]}}</td>
                                <td id="0_group_26_btn" width="7%"><button id="btn_0_26" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_26_Lockbtn" width="7%"><button id="lock_btn_0_26" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_26" colspan="5"><a id="toGroupPageLink_26" href="#"><button id="btn_toGroup_26" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_27_gn" width="7%">group 27</td>
                                <td id="0_group_27_1" width="12%">{{all_simu_group_info[27][0]}}</td>
                                <td id="0_group_27_2" width="12%">{{all_simu_group_info[27][1]}}</td>
                                <td id="0_group_27_3" width="12%">{{all_simu_group_info[27][2]}}</td>
                                <td id="0_group_27_btn" width="7%"><button id="btn_0_27" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_27_Lockbtn" width="7%"><button id="lock_btn_0_27" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_27" colspan="5"><a id="toGroupPageLink_27" href="#"><button id="btn_toGroup_27" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>
                                <td id="0_group_28_gn" width="7%">group 28</td>
                                <td id="0_group_28_1" width="12%">{{all_simu_group_info[28][0]}}</td>
                                <td id="0_group_28_2" width="12%">{{all_simu_group_info[28][1]}}</td>
                                <td id="0_group_28_3" width="12%">{{all_simu_group_info[28][2]}}</td>
                                <td id="0_group_28_btn" width="7%"><button id="btn_0_28" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_28_Lockbtn" width="7%"><button id="lock_btn_0_28" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_28" colspan="5"><a id="toGroupPageLink_28" href="#"><button id="btn_toGroup_28" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_29_gn" width="7%">group 29</td>
                                <td id="0_group_29_1" width="12%">{{all_simu_group_info[29][0]}}</td>
                                <td id="0_group_29_2" width="12%">{{all_simu_group_info[29][1]}}</td>
                                <td id="0_group_29_3" width="12%">{{all_simu_group_info[29][2]}}</td>
                                <td id="0_group_29_btn" width="7%"><button id="btn_0_29" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_29_Lockbtn" width="7%"><button id="lock_btn_0_29" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_29" colspan="5"><a id="toGroupPageLink_29" href="#"><button id="btn_toGroup_29" disabled>go to group page</button></a></td>
                            </tr>
                            <tr>    
                                <td id="0_group_30_gn" width="7%">group 30</td>
                                <td id="0_group_30_1" width="12%">{{all_simu_group_info[30][0]}}</td>
                                <td id="0_group_30_2" width="12%">{{all_simu_group_info[30][1]}}</td>
                                <td id="0_group_30_3" width="12%">{{all_simu_group_info[30][2]}}</td>
                                <td id="0_group_30_btn" width="7%"><button id="btn_0_30" onclick="joinClicked(this.id)">join group</button></td>
                                <td id="0_group_30_Lockbtn" width="7%"><button id="lock_btn_0_30" onclick="lockClicked(this.id)">lock group</button></td>
                                <td style="background-color: silver;" id="0_activity_btn_30" colspan="5"><a id="toGroupPageLink_30" href="#"><button id="btn_toGroup_30" disabled>go to group page</button></a></td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
        <div id="chat-room" class="col s3">
            <div id="allChatroomTag" class="white"><p class="center">common chatroom</p></div>
            <div id="message-box" class="col s12 white z-depth-1"></div>
            <input id="send-msg-inp" type="text" class="validate">
            <button id="send-msg-btn" class="btn waves-effect waves-light right" type="button"
                    name="action">
                send
            </button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script>
        let room = '{{ room }}'
        let username = '{{ username }}'
        let locked_groups_str = '{{ locked_groups_str }}'
        let inp = document.querySelector('#send-msg-inp')
        let sendMsgBtn = document.querySelector('#send-msg-btn')
        let messageBox = document.querySelector('#message-box')
        let leaveroom = document.querySelector('#leaveroom')
        // let urlHeader = location.protocol + '//' + document.domain + ':' + location.port;
        // let urlHeader ="https://coinquiry.cosci.tw";
        let urlHeader = "http://127.0.0.1:3080";
        let toHomeBtnTag = document.querySelector('#toHomeBtn')
        toHomeBtnTag.setAttribute('href', [urlHeader, "/home/"].join(''))
        for(i = 1; i <= 30 ; i++){
            let toGroupLinkTag = document.querySelector(['#toGroupPageLink_', i.toString()].join(''))
            toGroupLinkTag.setAttribute('href', [urlHeader, "/groupPage/", i.toString()].join(''))
        }
        let socket = io();
        // console.log(locked_groups_str.length);
        if(locked_groups_str.length == 1 ){
            lock_group(parseInt(locked_groups_str));
        }else if(locked_groups_str.length > 1){
            let locked_groups = locked_groups_str.split("_")
            for(var i = 0 ; i < locked_groups.length ; i++){
                lock_group(parseInt(locked_groups[i]));
            }
        }
        // 連接
        // socket.connect(location.protocol + '//' + document.domain + ':' + location.port);
        socket.connect("http://127.0.0.1:3080");
        // join group
        socket.emit('join', {
            username: username,
            room: room
        })
        // 退出
        /*leaveroom.onclick = function () {
            socket.emit('leave', {
                username: username,
                room: room
            })
        }*/
        // 發送
        sendMsgBtn.onclick = function () {
            let inp = document.querySelector('#send-msg-inp')
            let msg = inp.value
            let user = username
            inp.value = ''
            console.log("send:"+msg);
            if(msg){
                socket.emit('send msg', {
                    user: user,
                    message: msg,
                    room: room,
                })
                messageBox.scrollTop = messageBox.scrollHeight
            }else {
                alert('the messages can not be empty.')
            }
        }
        // enter發送
        inp.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                sendMsgBtn.click();
            }
        });
        // 小組的訊息
        socket.on('add new Member', function (data) {
            let simuNum = data.simuNum;
            let groupUser = data.username;
            let group = data.group;
            let position = data.position + 1;
            let tabledata = document.getElementById(simuNum + "_group_" + group.toString() + "_" + position);
            tabledata.innerHTML = groupUser;
        })
        // 移除組員的訊息
        socket.on('delete group Member', function (data) {
            let simuNum = data.simuNum;
            let group = data.group;
            let position = data.position + 1;
            let tabledata = document.getElementById(simuNum + "_group_" + group.toString() + "_" + position);
            tabledata.innerHTML = "";
        })
        socket.on('lock group', function (data) {
            let group = data.group;
            lock_group(group);
        })
        socket.on('unlock group', function (data) {
            let group = data.group;
            unlock_group(group);
        })
        // 接受訊息
        socket.on('send msg', function (data) {
            if(data.room === room){
                console.log("receive:"+data)
                console.log(data)
                console.log(socket.id)
                let msg = null
                let msgbox = document.createElement('div')
                msgbox.className = 'row'
                if (data.user === username) {
                    msg = `
                  <div class="col right">
                    <div class="tag teal z-depth-3" >
                      <span class="white-text">${data.message}
                      </span>
                    </div>  
                  </div>`
                } else {
                    msg = `
                  <div class="col">
                    <div class="tag z-depth-3">
                      <span class="teal-text"><b>${data.user}</b>:  ${data.message}
                      </span>
                    </div>
                  </div>`
                }
                msgbox.innerHTML = msg
                messageBox.appendChild(msgbox)
                messageBox.scrollTop = messageBox.scrollHeight
            }
        })

        function lock_group(group){
            let join_btn = document.getElementById("btn_0_" + group.toString());
            join_btn.disabled = true;
            let lock_btn = document.getElementById("lock_btn_0_" + group.toString());  
            lock_btn.disabled = true;
            let lock_td_1 = document.getElementById("0_group_" + group.toString() + "_1");
            lock_td_1.style.backgroundColor = "Silver";
            let lock_td_2 = document.getElementById("0_group_" + group.toString() + "_2");
            lock_td_2.style.backgroundColor = "Silver";
            let lock_td_3 = document.getElementById("0_group_" + group.toString() + "_3");
            lock_td_3.style.backgroundColor = "Silver";
            let lock_toGroupPage_td = document.getElementById("0_activity_btn_" + group.toString());
            lock_toGroupPage_td.style.backgroundColor = "#eceff1";
            let to_group_page_btn = document.getElementById("btn_toGroup_" + group.toString());  
            to_group_page_btn.disabled = false;
        }

        function unlock_group(group){
            let join_btn = document.getElementById("btn_0_" + group.toString());
            join_btn.disabled = false;
            let lock_btn = document.getElementById("lock_btn_0_" + group.toString());  
            lock_btn.disabled = false;
            let lock_td_1 = document.getElementById("0_group_" + group.toString() + "_1");
            lock_td_1.style.backgroundColor = "#eceff1";
            lock_td_1.innerHTML = "";
            let lock_td_2 = document.getElementById("0_group_" + group.toString() + "_2");
            lock_td_2.style.backgroundColor = "#eceff1";
            lock_td_2.innerHTML = "";
            let lock_td_3 = document.getElementById("0_group_" + group.toString() + "_3");
            lock_td_3.style.backgroundColor = "#eceff1";
            lock_td_3.innerHTML = "";
            let lock_toGroupPage_td = document.getElementById("0_activity_btn_" + group.toString());
            lock_toGroupPage_td.style.backgroundColor = "Silver";
            let to_group_page_btn = document.getElementById("btn_toGroup_" + group.toString());  
            to_group_page_btn.disabled = true;
        }

        function joinClicked(clickID) {
            let simuNum = parseInt(clickID.split("_")[1]);
            let group = parseInt(clickID.split("_")[2]);
            socket.emit('group info', {
                username: username,
                simuNum: simuNum,
                group: group
            })
            console.log({
                username: username,
                simuNum: simuNum,
                group: group
            });
        }
        function lockClicked(clickID) {
            let simuNum = parseInt(clickID.split("_")[2]);
            let group = parseInt(clickID.split("_")[3]);
            let lock_td_1 = document.getElementById("0_group_" + group.toString() + "_1");
            let lock_td_2 = document.getElementById("0_group_" + group.toString() + "_2");
            let lock_td_3 = document.getElementById("0_group_" + group.toString() + "_3");
            if(lock_td_1.innerHTML === username || lock_td_2.innerHTML === username || lock_td_3.innerHTML === username){
                if(confirm("Are you sure you want to join the activity with the current team members?")){
                    socket.emit('lock group info', {
                        simuNum: simuNum,
                        group: group
                    })
                } 
            }          
        }
    </script>
</body>
</html>