<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <link rel="shortcut icon" href="/static/1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>home</title>
</head>

<body>
<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center">Computer-assisted scientific inquiry experience</a>
        </div>
    </nav>
    <div class="container">
        <h4>
            Collaborative Simulation Exploration Activities
        </h4>
        <br>
        <h5>
            In this event we will use CoSci's collaborative simulation to discuss and analyze the physical principles in the simulation. Each inquiry activity will be divided into 4 steps: experience, propose ideas, refine ideas, and verify. Please discuss with your group members and complete them in order.
        </h5>
        <br>
        <br>
        <h5>
            The topics of this activity include
        </h5>
        <h5>
            1.turning。&emsp;2.archer。 
        </h5>
        <div class="row">
            <img src="/static/frictionSimu.png" alt="摩擦力與向心力合作模擬" width="300"/>
            <img src="/static/archerSimu.png" alt="弓箭手合作模擬" width="300"/>
        </div>
        <h5>
            3.collision。&emsp;&emsp;&emsp;&emsp;&emsp;4.friction。   
        </h5>
        <div class="row">
            <img src="/static/collisionSimu.png" alt="非彈性碰撞合作模擬" width="300"/>
            <img src="/static/wallfrictionSimu.png" alt="非彈性碰撞合作模擬" width="300"/>
        </div>
        
        <br>
        <h5>
            Activity process:
        </h5>
        <h5>
            1. Please use the chat room on the group page to find group members, and click on the table on the left of the group page to join.
        </h5>
        <h5>
            2. Afterwards, you can go to your respective group page and use the group’s respective chat room and cooperative simulation to complete the questions in the form step by step!
        </h5>
        <br>
        <!-- <br>
        <a id="totestGroupingLink" href="#"><button id="btn_toAct_1">前往示範用分組頁面</button></a>
        <br> -->
        <br>
        <a id="toGroupingLink" href="#"><button id="btn_toAct_1">go to grouping page</button></a>
        <br>
        <br>
        <br>
    </div>
    <script>
        // let urlHeader = location.protocol + '//' + document.domain + ':' + location.port;
        let urlHeader = "http://127.0.0.1:3080";
        // let urlHeader ="https://coinquiry.cosci.tw";
        let toGroupingBtnTag = document.querySelector('#toGroupingLink');
        // toGroupingBtnTag.setAttribute('href', "https://coinquiry.cosci.tw/group/");
        toGroupingBtnTag.setAttribute('href', "http://127.0.0.1:3080/group/");
        let totestGroupingBtnTag = document.querySelector('#totestGroupingLink');
        // totestGroupingBtnTag.setAttribute('href', "https://coinquiry.cosci.tw/testgroup/");
        totestGroupingBtnTag.setAttribute('href', "http://127.0.0.1:3080/testgroup/");
    </script>
</body>
</html>