<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <link rel="shortcut icon" href="/static/1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>home</title>
</head>

<body>
<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo center">海山高中電腦輔助科學探究體驗營</a>
        </div>
    </nav>
    <div class="container">
        <h4>
            合作模擬探究活動
        </h4>
        <br>
        <h5>
            在這次的活動中我們要使用CoSci的合作模擬來一起討論並分析模擬中的物理原理。而每一個探究活動將分為4個步驟:體驗、提出想法、精緻想法、驗證。請與組員共同討論並依序完成。
        </h5>
        <br>
        <br>
        <h5>
            此次學習的主題有
        </h5>
        <h5>
            1.向心力與摩擦係數的探討。&emsp;2.射箭時的功能定理。 
        </h5>
        <div class="row">
            <img src="/static/frictionSimu.png" alt="摩擦力與向心力合作模擬" width="300"/>
            <img src="/static/archerSimu.png" alt="弓箭手合作模擬" width="300"/>
        </div>
        <h5>
            3.完全非彈性碰撞。&emsp;&emsp;&emsp;&emsp;&emsp;4.牆面摩擦力。   
        </h5>
        <div class="row">
            <img src="/static/collisionSimu.png" alt="非彈性碰撞合作模擬" width="300"/>
            <img src="/static/wallfrictionSimu.png" alt="非彈性碰撞合作模擬" width="300"/>
        </div>
        
        <br>
        <h5>
            活動進行流程：
        </h5>
        <h5>
            1.請同學們利用分組頁面中的聊天室尋找組員，並且在分組頁面左邊的表格點選加入。
        </h5>
        <h5>
            2.之後就可以前往各自的小組頁面，並且使用小組各自的聊天室和合作模擬來一步步完成表單中的問題喔！
        </h5>
        <br>
        <br>
        <a id="toGroupingLink" href="#"><button id="btn_toAct_1">前往分組頁面</button></a>
        <br>
        <br>
        <br>
    </div>
    <script>
        let urlHeader = location.protocol + '//' + document.domain + ':' + location.port;
        // let urlHeader ="https://coinquiry.cosci.tw";
        let toGroupingBtnTag = document.querySelector('#toGroupingLink')
        toGroupingBtnTag.setAttribute('href', [urlHeader, "/group"].join(''));
    </script>
</body>
</html>