<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <link rel="shortcut icon" href="/static/1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>活動連結</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Computer-assisted scientific inquiry experience</a>
    </div>
</nav>
<br>
<br>
<table>
    <thead>
        <tr>
            <td>網頁</td>
            <td>網址</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>示範用分組頁面</td>
            <!-- <td><a href="https://coinquiry.cosci.tw/testgroup/">前往示範用分組頁面</a></td> -->
            <td><a href="http://127.0.0.1:3080/testgroup/">前往示範用分組頁面</a></td>
        </tr>
        <tr>
            <td>正式活動分組頁面</td>
            <!-- <td><a href="https://coinquiry.cosci.tw/group/">前往正式活動分組頁面</a></td> -->
            <td><a href="http://127.0.0.1:3080/group/">前往正式活動分組頁面</a></td>
        </tr>
        <tr>
            <td>系統介紹ppt</td>
            <td><a href="https://docs.google.com/presentation/d/1A6yZXcJfhylsqSEHg9CKsg1dqgD5SGgA/edit?usp=sharing&ouid=105296196510188504018&rtpof=true&sd=true" target="_blank">前往系統介紹ppt</a></td>
        </tr>
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
</body>
</html>